.statistics {
  width: 500px;
  max-height: 300px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid rgb(163, 163, 163);
}
.title {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}
.statList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  background-color: teal;
}
.item {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100px;
  padding-right: 30px;
  padding-left: 30px;
  justify-content: center;
  align-items: center;
}
.item:not(:first-child) {
  border-left: 1px solid rgb(3, 90, 90);
}
.label {
  color: white;
}
.percentage {
  color: white;
  font-size: 30px;
  line-height: 1.4;
  margin-top: 5px;
}
