.item {
  display: flex;
  align-items: center;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 128, 128, 0.329);
  border-radius: 5px;
}
.item:not(:first-child) {
  margin-top: 10px;
}
span.status {
  display: flex;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.5);
}
.avatar {
  margin-left: 10px;
}
.name {
  margin: 0;
  padding-left: 15px;
}
